<div class=" col-lg-12 offset-lg-2">
    <div style="color:white; font-size: 2.2rem; margin-left: 35%;font-family: 'Courier New', Courier, monospace; text-decoration: underline ;">
        <p>Events</p>
    </div><br>
    <div class="col-lg-6 col-md-12 col-sm-12" style="float: left; margin: 2px;  width: 25rem">
        <div class="card" style="width: 20rem; ">
            <img src="../../assets/images/mean-stack-banner.jpg" class="card-img-top" height="300px" alt="...">
                <div class="card-body text">
                        <a href="#"><h5 class="card-title">WEB DEVELOPMENT -MEAN STACK</h5></a>
                </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12" style="float: left; margin: 2px;  width: 25rem">
        <div class="card" style="width: 20rem;">
            <img src="../../assets/images/Graphic-_Design.jpg" class="card-img-top" height="300px" alt="...">
            <div class="card-body text">
                        <a href="#"><h5 class="card-title">GRAPHIC DESIGN</h5></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12" style="float: left; margin: 2px;  width: 25rem">
            <div class="card" style="width: 20rem;">
                <img src="../../assets/images/android_q_4_figures.jpg" class="card-img-top" height="300px" alt="...">
                <div class="card-body text">
                            <a href="#"><h5 class="card-title">ANDROID</h5></a>
                </div>
            </div>
        </div>  
        <div class="col-lg-6 col-md-12 col-sm-12" style="float: left; margin: 2px;  width: 25rem">
            <div class="card" style="width: 20rem; ">
                <img src="../../assets/images/AI.jpg" class="card-img-top" height="300px" alt="...">
                    <div class="card-body text">
                            <a href="#"><h5 class="card-title">ARTIFICIAL INTELLIGENCE</h5></a>
                    </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12" style="float: left; margin: 2px;  width: 25rem">
            <div class="card" style="width: 20rem;">
                <img src="../../assets/images/cloud-computing.jpg" class="card-img-top" height="300px" alt="...">
                <div class="card-body text">
                            <a href="#"><h5 class="card-title">CLOUD COMPUTING</h5></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12" style="float: left; margin: 2px;  width: 25rem">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/images/digital-marketing.jpg" class="card-img-top" height="300px" alt="...">
                    <div class="card-body text">
                                <a href="#"><h5 class="card-title">DIGITAL MARKETING</h5></a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-6 col-md-12 col-sm-12" style="float: left; margin: 2px;  width: 25rem">
                <div class="card" style="width: 20rem; ">
                    <img src="../../assets/images/cyber security banner.jpg" class="card-img-top" height="300px" alt="...">
                        <div class="card-body text">
                                <a href="#"><h5 class="card-title">CYBER SECURITY</h5></a>
                        </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12" style="float: left; margin: 2px;  width: 25rem">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/images/phtyon.jpg" class="card-img-top" height="300px" alt="...">
                    <div class="card-body text">
                                <a href="#"><h5 class="card-title">PYTHON WITH Django and Flask</h5></a>
                    </div>
                </div>
            </div>                   
</div>