<div class=" col-lg-12 offset-lg-2">
            <div style="color:white; font-size: 2.2rem; margin-left: 30%;font-family: 'Courier New', Courier, monospace; text-decoration: underline ;"> 
                <p>Dashboard</p>
            </div><br>
            <div class="col-lg-6 col-md-12 col-sm-12" style="float: left; margin: 2px;  width: 25rem">
                <div class="card" style="width: 20rem; ">
                    <img src="../../assets/images/mean-stack-banner.jpg" class="card-img-top" height="300px" alt="...">
                        <div class="card-body text">
                                <a [routerLink]="['/mean']"><h5 class="card-title">WEB DEVELOPMENT -MEAN STACK</h5></a>
                        </div>
                </div>            
</div>
